<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
 {{>navebar}}
 <!-- main header -->
 <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!--rigjt side div -->
              <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                  <img src="images/download.png" alt="Aziz" title="">
                </figure>
             </div>
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to the weather app</p>
                    <h1>I am a <span class="text_clr">node js developer</span></h1>
                    <!-- <a href="/weather"><button>Check now</button></a> -->
                </div>
                </div>
                 
            </div>
        </div>
    </div>
 </div>   
            <!--footer code  -->
  {{>footer}}      
</body>
</html>